body {
  display: flex;
  /* flex-direction: column; */
  min-height: 100hv;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.red {
  margin: 20px;
  width: 500px;
  height: 500px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  padding: 25px;
}
.red2 {
  position: relative;
  margin: 20px;
  width: 500px;
  height: 500px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  padding: 25px;
}
.blue {
  position: absolute;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  bottom: 0;

  padding: 25px;
}
.clockContainer {
  margin: 20px;
  width: 500px;
  height: 500px;
  background-color: beige;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
input {
}
p {
  font-size: 24px;
}
.clock {
  position: relative;
  width: 300px;
  height: 300px;
  background: #c9d5e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}
.clock::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #e91e63;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 0 1px #e91e63, 0 0 0 3px #fff, 0 0 5px 5px rgba(0, 0, 0, 0.15);
}
.clock .numbers {
  position: absolute;
  inset: 35px;
  background: #152b4a;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #152b4a66,
    inset 5px 5px 5px rgba(255, 255, 255, 0.55),
    -6px -6px 10px rgba(255, 255, 255, 1);
}
.clock .numbers span {
  position: absolute;
  inset: 5px;
  text-align: center;
  color: #fff;
  font-size: 1.25em;
  transform: rotate(calc(90deg * var(--i)));
}
.clock .numbers span b {
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-90deg * var(--i)));
}
.clock .numbers::before {
  content: "";
  position: absolute;
  inset: 35px;
  background: linear-gradient(#2196f3, #e91e63);
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.clock .numbers::after {
  content: "";
  position: absolute;
  inset: 38px;
  background: #152b4a;
  border-radius: 50%;
}
.clock .numbers .circle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.clock .numbers .circle i {
  position: absolute;
  width: 3px;
  height: 50%;
  background: #fff;
  transform-origin: bottom;
}
.clock .numbers .circle#hr i {
  transform: scaleY(0.3);
  width: 4px;
}
.clock .numbers .circle#mn i {
  transform: scaleY(0.45);
}
.clock .numbers .circle#sc i {
  transform: scaleY(0.55);
  width: 2px;
  background: #e91e63;
  box-shadow: 0 30px 0 #e91e63;
}
.movie-card {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 25px;
}

.movie-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/MV5BNzRiMjg0MzUtNTQ1Mi00Y2Q5LWEwM2MtMzUwZDU5NmVjN2NkXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(30px) brightness(100%);
  z-index: 1;
}
.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.728) 11%,
    rgba(0, 0, 0, 0) 57%
  );
  z-index: 2;
}
.movie-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 20px;
  padding-top: 45px;
  color: #fff;
}

.movie-poster {
  width: 60%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.movie-description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}
